docs/_build/**

build/html/.buildinfo
build/html/genindex.html
build/html/guides.html
build/html/howto.html
build/html/ides.html
build/html/index.html
build/html/mystyle.tex.html
build/html/objects.inv
build/html/py-modindex.html
build/html/search.html
build/html/searchindex.js
build/html/temp.html
build/html/test.html
build/html/test.ipynb
build/html/utils.html
build/html/.doctrees/environment.pickle
build/html/.doctrees/guides.doctree
build/html/.doctrees/howto.doctree
build/html/.doctrees/ides.doctree
build/html/.doctrees/index.doctree
build/html/.doctrees/mystyle.tex.doctree
build/html/.doctrees/temp.doctree
build/html/.doctrees/test.doctree
build/html/.doctrees/utils.doctree
build/html/.doctrees/nbsphinx/test.ipynb
build/html/.doctrees/source/gloss/terms.doctree
build/html/.doctrees/source/latex/latex-start.doctree
build/html/.doctrees/source/python/py-start.doctree
build/html/.doctrees/source/q-and-a/why-documenting.doctree
build/html/.doctrees/source/q-and-a/why-publish.doctree
build/html/.doctrees/source/q-and-a/why-vcs.doctree
build/html/.doctrees/source/r/r-basics.doctree
build/html/.doctrees/source/r/r-start.doctree
build/html/.doctrees/source/rest/build-in-directives.doctree
build/html/.doctrees/source/rest/rst-basics.doctree
build/html/.doctrees/source/rest/rst-directives.doctree
build/html/.doctrees/source/rest/rst-doc-structure.doctree
build/html/.doctrees/source/rest/rst-elements.doctree
build/html/.doctrees/source/rest/rst-inline-markup.doctree
build/html/.doctrees/source/rest/rst-install-use.doctree
build/html/.doctrees/source/rest/rst-lists.doctree
build/html/.doctrees/source/rest/rst-roles.doctree
build/html/.doctrees/source/rest/rst-start.doctree
build/html/.doctrees/source/rest/rst-tables.doctree
build/html/_images/em.png
build/html/_images/ex-unit.png
build/html/_images/graphviz-5eadb17d466f681741bac3cf907ef3e91bdca8f5.png
build/html/_images/graphviz-5eadb17d466f681741bac3cf907ef3e91bdca8f5.png.map
build/html/_images/graphviz-077c27809f2e306519813de66758f1691c208ee7.png
build/html/_images/graphviz-077c27809f2e306519813de66758f1691c208ee7.png.map
build/html/_images/graphviz-9836ad94555628e9d3362d9dbc1186bd8ccb3106.png
build/html/_images/graphviz-9836ad94555628e9d3362d9dbc1186bd8ccb3106.png.map
build/html/_images/graphviz-089110e5916fb25e85b5338f235f9da9e84f2308.png
build/html/_images/graphviz-089110e5916fb25e85b5338f235f9da9e84f2308.png.map
build/html/_images/graphviz-b3bd72d2ecb83a3d3d5ce2401f4d0256398f4b81.png
build/html/_images/graphviz-b3bd72d2ecb83a3d3d5ce2401f4d0256398f4b81.png.map
build/html/_images/graphviz-b32ccefe8e2be25d51ebf5dc9d4cca189b43f8c4.png
build/html/_images/graphviz-b32ccefe8e2be25d51ebf5dc9d4cca189b43f8c4.png.map
build/html/_sources/guides.rst.txt
build/html/_sources/howto.rst.txt
build/html/_sources/ides.rst.txt
build/html/_sources/index.rst.txt
build/html/_sources/mystyle.tex.txt
build/html/_sources/temp.rst.txt
build/html/_sources/test.ipynb.txt
build/html/_sources/utils.rst.txt
build/html/_sources/source/gloss/terms.rst.txt
build/html/_sources/source/latex/latex-start.rst.txt
build/html/_sources/source/python/py-start.rst.txt
build/html/_sources/source/q-and-a/why-documenting.rst.txt
build/html/_sources/source/q-and-a/why-publish.rst.txt
build/html/_sources/source/q-and-a/why-vcs.rst.txt
build/html/_sources/source/r/r-basics.rst.txt
build/html/_sources/source/r/r-start.rst.txt
build/html/_sources/source/rest/build-in-directives.rst.txt
build/html/_sources/source/rest/rst-basics.rst.txt
build/html/_sources/source/rest/rst-directives.rst.txt
build/html/_sources/source/rest/rst-doc-structure.rst.txt
build/html/_sources/source/rest/rst-elements.rst.txt
build/html/_sources/source/rest/rst-inline-markup.rst.txt
build/html/_sources/source/rest/rst-install-use.rst.txt
build/html/_sources/source/rest/rst-lists.rst.txt
build/html/_sources/source/rest/rst-roles.rst.txt
build/html/_sources/source/rest/rst-start.rst.txt
build/html/_sources/source/rest/rst-tables.rst.txt
build/html/_static/basic.css
build/html/_static/bootstrap-sphinx.css
build/html/_static/bootstrap-sphinx.js
build/html/_static/clipboard.min.js
build/html/_static/copy-button.svg
build/html/_static/copybutton.css
build/html/_static/copybutton.js
build/html/_static/doctools.js
build/html/_static/documentation_options.js
build/html/_static/door.png
build/html/_static/file.png
build/html/_static/graphviz.css
build/html/_static/jquery-3.5.1.js
build/html/_static/jquery.js
build/html/_static/language_data.js
build/html/_static/minus.png
build/html/_static/plus.png
build/html/_static/pygments.css
build/html/_static/searchtools.js
build/html/_static/translations.js
build/html/_static/underscore-1.3.1.js
build/html/_static/underscore.js
build/html/_static/bootstrap-2.3.2/css/bootstrap-responsive.css
build/html/_static/bootstrap-2.3.2/css/bootstrap-responsive.min.css
build/html/_static/bootstrap-2.3.2/css/bootstrap.css
build/html/_static/bootstrap-2.3.2/css/bootstrap.min.css
build/html/_static/bootstrap-2.3.2/img/glyphicons-halflings-white.png
build/html/_static/bootstrap-2.3.2/img/glyphicons-halflings.png
build/html/_static/bootstrap-2.3.2/js/bootstrap.js
build/html/_static/bootstrap-2.3.2/js/bootstrap.min.js
build/html/_static/bootstrap-3.3.7/css/bootstrap-theme.css
build/html/_static/bootstrap-3.3.7/css/bootstrap-theme.css.map
build/html/_static/bootstrap-3.3.7/css/bootstrap-theme.min.css
build/html/_static/bootstrap-3.3.7/css/bootstrap-theme.min.css.map
build/html/_static/bootstrap-3.3.7/css/bootstrap.css
build/html/_static/bootstrap-3.3.7/css/bootstrap.css.map
build/html/_static/bootstrap-3.3.7/css/bootstrap.min.css
build/html/_static/bootstrap-3.3.7/css/bootstrap.min.css.map
build/html/_static/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.eot
build/html/_static/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.svg
build/html/_static/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.ttf
build/html/_static/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.woff
build/html/_static/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.woff2
build/html/_static/bootstrap-3.3.7/js/bootstrap.js
build/html/_static/bootstrap-3.3.7/js/bootstrap.min.js
build/html/_static/bootstrap-3.3.7/js/npm.js
build/html/_static/bootswatch-2.3.2/amelia/bootstrap.min.css
build/html/_static/bootswatch-2.3.2/cerulean/bootstrap.min.css
build/html/_static/bootswatch-2.3.2/cosmo/bootstrap.min.css
build/html/_static/bootswatch-2.3.2/cyborg/bootstrap.min.css
build/html/_static/bootswatch-2.3.2/flatly/bootstrap.min.css
build/html/_static/bootswatch-2.3.2/img/glyphicons-halflings-white.png
build/html/_static/bootswatch-2.3.2/img/glyphicons-halflings.png
build/html/_static/bootswatch-2.3.2/journal/bootstrap.min.css
build/html/_static/bootswatch-2.3.2/readable/bootstrap.min.css
build/html/_static/bootswatch-2.3.2/simplex/bootstrap.min.css
build/html/_static/bootswatch-2.3.2/slate/bootstrap.min.css
build/html/_static/bootswatch-2.3.2/spacelab/bootstrap.min.css
build/html/_static/bootswatch-2.3.2/spruce/bootstrap.min.css
build/html/_static/bootswatch-2.3.2/superhero/bootstrap.min.css
build/html/_static/bootswatch-2.3.2/united/bootstrap.min.css
build/html/_static/bootswatch-3.3.7/cerulean/bootstrap.min.css
build/html/_static/bootswatch-3.3.7/cosmo/bootstrap.min.css
build/html/_static/bootswatch-3.3.7/cyborg/bootstrap.min.css
build/html/_static/bootswatch-3.3.7/darkly/bootstrap.min.css
build/html/_static/bootswatch-3.3.7/flatly/bootstrap.min.css
build/html/_static/bootswatch-3.3.7/fonts/glyphicons-halflings-regular.eot
build/html/_static/bootswatch-3.3.7/fonts/glyphicons-halflings-regular.svg
build/html/_static/bootswatch-3.3.7/fonts/glyphicons-halflings-regular.ttf
build/html/_static/bootswatch-3.3.7/fonts/glyphicons-halflings-regular.woff
build/html/_static/bootswatch-3.3.7/fonts/glyphicons-halflings-regular.woff2
build/html/_static/bootswatch-3.3.7/journal/bootstrap.min.css
build/html/_static/bootswatch-3.3.7/lumen/bootstrap.min.css
build/html/_static/bootswatch-3.3.7/paper/bootstrap.min.css
build/html/_static/bootswatch-3.3.7/readable/bootstrap.min.css
build/html/_static/bootswatch-3.3.7/sandstone/bootstrap.min.css
build/html/_static/bootswatch-3.3.7/simplex/bootstrap.min.css
build/html/_static/bootswatch-3.3.7/slate/bootstrap.min.css
build/html/_static/bootswatch-3.3.7/solar/bootstrap.min.css
build/html/_static/bootswatch-3.3.7/spacelab/bootstrap.min.css
build/html/_static/bootswatch-3.3.7/superhero/bootstrap.min.css
build/html/_static/bootswatch-3.3.7/united/bootstrap.min.css
build/html/_static/bootswatch-3.3.7/yeti/bootstrap.min.css
build/html/_static/css/custom.css
build/html/_static/js/jquery-1.11.0.min.js
build/html/_static/js/jquery-fix.js
build/html/_static/pics/em-unit.png
build/html/_static/sphinx_tabs/tabs.css
build/html/_static/sphinx_tabs/tabs.js
build/html/_static/sphinx_tabs/semantic-ui-2.4.1/menu.min.css
build/html/_static/sphinx_tabs/semantic-ui-2.4.1/segment.min.css
build/html/_static/sphinx_tabs/semantic-ui-2.4.1/tab.min.css
build/html/_static/sphinx_tabs/semantic-ui-2.4.1/tab.min.js
build/html/source/gloss/terms.html
build/html/source/latex/latex-start.html
build/html/source/python/py-start.html
build/html/source/q-and-a/why-documenting.html
build/html/source/q-and-a/why-publish.html
build/html/source/q-and-a/why-vcs.html
build/html/source/r/r-basics.html
build/html/source/r/r-start.html
build/html/source/rest/build-in-directives.html
build/html/source/rest/rst-basics.html
build/html/source/rest/rst-directives.html
build/html/source/rest/rst-doc-structure.html
build/html/source/rest/rst-elements.html
build/html/source/rest/rst-inline-markup.html
build/html/source/rest/rst-install-use.html
build/html/source/rest/rst-lists.html
build/html/source/rest/rst-roles.html
build/html/source/rest/rst-start.html
build/html/source/rest/rst-tables.html
docs/_build/doctrees/source/gloss/terms.doctree
docs/_build/html/howto.html
docs/_build/html/_sources/source/gloss/terms.rst.txt
docs/_build/html/source/gloss/terms.html
docs/_build/html/source/q-and-a/why-documenting.html
docs/_build/html/source/q-and-a/why-publish.html
docs/_build/html/source/q-and-a/why-vcs.html
docs/index.pdf
docs/index.rtc
docs/_build/doctrees/source/gloss/terms.doctree
docs/_build/doctrees/source/gloss/terms.doctree
docs/temp.rst
docs/test.ipynb
docs/rst-start.stylelog
docs/rst-start.pdf
docs/_build/html/howto.html
docs/_build/html/howto.html
docs/_build/html/_sources/source/gloss/terms.rst.txt
docs/_build/html/source/gloss/terms.html
