docs/_build/doctrees/environment.pickle
docs/_build/doctrees/guides.doctree
docs/_build/doctrees/ides.doctree
docs/_build/doctrees/index.doctree
docs/_build/doctrees/langs.doctree
docs/_build/doctrees/utils.doctree
docs/_build/doctrees/source/python/py-start.doctree
docs/_build/doctrees/source/r/r-start.doctree
docs/_build/doctrees/source/restructuredtext/rst-start.doctree
docs/_build/html/.buildinfo
docs/_build/html/genindex.html
docs/_build/html/guides.html
docs/_build/html/ides.html
docs/_build/html/index.html
docs/_build/html/langs.html
docs/_build/html/objects.inv
docs/_build/html/search.html
docs/_build/html/searchindex.js
docs/_build/html/utils.html
docs/_build/html/.doctrees/environment.pickle
docs/_build/html/.doctrees/guides.doctree
docs/_build/html/.doctrees/index.doctree
docs/_build/html/.doctrees/langs.doctree
docs/_build/html/.doctrees/utils.doctree
docs/_build/html/.doctrees/source/python/py-start.doctree
docs/_build/html/.doctrees/source/r/r-start.doctree
docs/_build/html/_sources/guides.rst.txt
docs/_build/html/_sources/ides.rst.txt
docs/_build/html/_sources/index.rst.txt
docs/_build/html/_sources/langs.rst.txt
docs/_build/html/_sources/utils.rst.txt
docs/_build/html/_sources/source/python/py-start.rst.txt
docs/_build/html/_sources/source/r/r-start.rst.txt
docs/_build/html/_sources/source/restructuredtext/rst-start.rst.txt
docs/_build/html/_static/basic.css
docs/_build/html/_static/doctools.js
docs/_build/html/_static/documentation_options.js
docs/_build/html/_static/file.png
docs/_build/html/_static/jquery-3.4.1.js
docs/_build/html/_static/jquery.js
docs/_build/html/_static/jquery.min.map
docs/_build/html/_static/language_data.js
docs/_build/html/_static/material.css
docs/_build/html/_static/minus.png
docs/_build/html/_static/plus.png
docs/_build/html/_static/pygments.css
docs/_build/html/_static/searchtools.js
docs/_build/html/_static/translations.js
docs/_build/html/_static/underscore-1.3.1.js
docs/_build/html/_static/underscore.js
docs/_build/html/_static/fonts/font-awesome.css
docs/_build/html/_static/fonts/material-icons.css
docs/_build/html/_static/fonts/specimen/FontAwesome.ttf
docs/_build/html/_static/fonts/specimen/FontAwesome.woff
docs/_build/html/_static/fonts/specimen/FontAwesome.woff2
docs/_build/html/_static/fonts/specimen/MaterialIcons-Regular.ttf
docs/_build/html/_static/fonts/specimen/MaterialIcons-Regular.woff
docs/_build/html/_static/fonts/specimen/MaterialIcons-Regular.woff2
docs/_build/html/_static/images/favicon.png
docs/_build/html/_static/images/icons/bitbucket.1b09e088.svg
docs/_build/html/_static/images/icons/bitbucket.svg
docs/_build/html/_static/images/icons/github.f0b8504a.svg
docs/_build/html/_static/images/icons/github.svg
docs/_build/html/_static/images/icons/gitlab.6dd19c00.svg
docs/_build/html/_static/images/icons/gitlab.svg
docs/_build/html/_static/javascripts/application.js
docs/_build/html/_static/javascripts/modernizr.js
docs/_build/html/_static/javascripts/version_dropdown.js
docs/_build/html/_static/javascripts/lunr/lunr.da.js
docs/_build/html/_static/javascripts/lunr/lunr.de.js
docs/_build/html/_static/javascripts/lunr/lunr.du.js
docs/_build/html/_static/javascripts/lunr/lunr.es.js
docs/_build/html/_static/javascripts/lunr/lunr.fi.js
docs/_build/html/_static/javascripts/lunr/lunr.fr.js
docs/_build/html/_static/javascripts/lunr/lunr.hu.js
docs/_build/html/_static/javascripts/lunr/lunr.it.js
docs/_build/html/_static/javascripts/lunr/lunr.ja.js
docs/_build/html/_static/javascripts/lunr/lunr.jp.js
docs/_build/html/_static/javascripts/lunr/lunr.multi.js
docs/_build/html/_static/javascripts/lunr/lunr.nl.js
docs/_build/html/_static/javascripts/lunr/lunr.no.js
docs/_build/html/_static/javascripts/lunr/lunr.pt.js
docs/_build/html/_static/javascripts/lunr/lunr.ro.js
docs/_build/html/_static/javascripts/lunr/lunr.ru.js
docs/_build/html/_static/javascripts/lunr/lunr.stemmer.support.js
docs/_build/html/_static/javascripts/lunr/lunr.sv.js
docs/_build/html/_static/javascripts/lunr/lunr.th.js
docs/_build/html/_static/javascripts/lunr/lunr.tr.js
docs/_build/html/_static/javascripts/lunr/tinyseg.js
docs/_build/html/_static/javascripts/lunr/wordcut.js
docs/_build/html/_static/stylesheets/application-fixes.css
docs/_build/html/_static/stylesheets/application-palette.css
docs/_build/html/_static/stylesheets/application.css
docs/_build/html/source/python/py-start.html
docs/_build/html/source/r/r-start.html
docs/_build/html/source/restructuredtext/rst-start.html
docs/_build/latex/footnotehyper-sphinx.sty
docs/_build/latex/generictutorials.tex
docs/_build/latex/latexmkjarc
docs/_build/latex/latexmkrc
docs/_build/latex/LatinRules.xdy
docs/_build/latex/LICRcyr2utf8.xdy
docs/_build/latex/LICRlatin2utf8.xdy
docs/_build/latex/make.bat
docs/_build/latex/Makefile
docs/_build/latex/python.ist
docs/_build/latex/sphinx.sty
docs/_build/latex/sphinx.xdy
docs/_build/latex/sphinxcyrillic.sty
docs/_build/latex/sphinxhighlight.sty
docs/_build/latex/sphinxhowto.cls
docs/_build/latex/sphinxmanual.cls
docs/_build/latex/sphinxmessages.sty
docs/_build/latex/sphinxmulticell.sty
docs/_build/rinoh/generictutorials.pdf
docs/_build/rinoh/generictutorials.rtc
docs/_build/rinoh/generictutorials.stylelog
docs/_build/rinoh/.doctrees/environment.pickle
docs/_build/rinoh/.doctrees/guides.doctree
docs/_build/rinoh/.doctrees/ides.doctree
docs/_build/rinoh/.doctrees/index.doctree
docs/_build/rinoh/.doctrees/langs.doctree
docs/_build/rinoh/.doctrees/utils.doctree
docs/_build/rinoh/.doctrees/source/python/py-start.doctree
docs/_build/rinoh/.doctrees/source/r/r-start.doctree
docs/_build/rinoh/.doctrees/source/restructuredtext/rst-start.doctree
docs/_build/doctrees/source/gloss/terms.doctree
docs/_build/doctrees/source/restructuredtext/rst-inline-markup.doctree
docs/_build/doctrees/source/restructuredtext/rst-lists.doctree
docs/_build/html/_sources/source/gloss/terms.rst.txt
docs/_build/html/_sources/source/restructuredtext/rst-basics.rst.txt
docs/_build/html/_sources/source/restructuredtext/rst-inline-markup.rst.txt
docs/_build/html/_sources/source/restructuredtext/rst-lists.rst.txt
docs/_build/html/source/gloss/terms.html
docs/_build/html/source/restructuredtext/rst-basics.html
docs/_build/html/source/restructuredtext/rst-inline-markup.html
docs/_build/html/source/restructuredtext/rst-lists.html
docs/_build/rinoh/.doctrees/howto.doctree
docs/_build/rinoh/.doctrees/source/gloss/terms.doctree
docs/_build/rinoh/.doctrees/source/q-and-a/why-documenting.doctree
docs/_build/rinoh/.doctrees/source/q-and-a/why-publish.doctree
docs/_build/rinoh/.doctrees/source/q-and-a/why-vcs.doctree
docs/_build/rinoh/.doctrees/source/restructuredtext/rst-basics.doctree
docs/_build/rinoh/.doctrees/source/restructuredtext/rst-inline-markup.doctree
restructuredtext.rst
docs/_build/html/howto.html
docs/_build/html/requirements.html
docs/_build/html/_static/bootstrap-sphinx.css
docs/_build/html/_static/bootstrap-sphinx.js
docs/_build/html/_static/door.png
docs/_build/html/_static/graphviz.css
docs/_build/html/_static/bootstrap-2.3.2/css/bootstrap-responsive.css
docs/_build/html/_static/bootstrap-2.3.2/css/bootstrap-responsive.min.css
docs/_build/html/_static/bootstrap-2.3.2/css/bootstrap.css
docs/_build/html/_static/bootstrap-2.3.2/css/bootstrap.min.css
docs/_build/html/_static/bootstrap-2.3.2/img/glyphicons-halflings-white.png
docs/_build/html/_static/bootstrap-2.3.2/img/glyphicons-halflings.png
docs/_build/html/_static/bootstrap-2.3.2/js/bootstrap.js
docs/_build/html/_static/bootstrap-2.3.2/js/bootstrap.min.js
docs/_build/html/_static/bootstrap-3.3.7/css/bootstrap-theme.css
docs/_build/html/_static/bootstrap-3.3.7/css/bootstrap-theme.css.map
docs/_build/html/_static/bootstrap-3.3.7/css/bootstrap-theme.min.css
docs/_build/html/_static/bootstrap-3.3.7/css/bootstrap-theme.min.css.map
docs/_build/html/_static/bootstrap-3.3.7/css/bootstrap.css
docs/_build/html/_static/bootstrap-3.3.7/css/bootstrap.css.map
docs/_build/html/_static/bootstrap-3.3.7/css/bootstrap.min.css
docs/_build/html/_static/bootstrap-3.3.7/css/bootstrap.min.css.map
docs/_build/html/_static/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.eot
docs/_build/html/_static/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.svg
docs/_build/html/_static/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.ttf
docs/_build/html/_static/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.woff
docs/_build/html/_static/bootstrap-3.3.7/fonts/glyphicons-halflings-regular.woff2
docs/_build/html/_static/bootstrap-3.3.7/js/bootstrap.js
docs/_build/html/_static/bootstrap-3.3.7/js/bootstrap.min.js
docs/_build/html/_static/bootstrap-3.3.7/js/npm.js
docs/_build/html/_static/bootswatch-2.3.2/amelia/bootstrap.min.css
docs/_build/html/_static/bootswatch-2.3.2/cerulean/bootstrap.min.css
docs/_build/html/_static/bootswatch-2.3.2/cosmo/bootstrap.min.css
docs/_build/html/_static/bootswatch-2.3.2/cyborg/bootstrap.min.css
docs/_build/html/_static/bootswatch-2.3.2/flatly/bootstrap.min.css
docs/_build/html/_static/bootswatch-2.3.2/img/glyphicons-halflings-white.png
docs/_build/html/_static/bootswatch-2.3.2/img/glyphicons-halflings.png
docs/_build/html/_static/bootswatch-2.3.2/journal/bootstrap.min.css
docs/_build/html/_static/bootswatch-2.3.2/readable/bootstrap.min.css
docs/_build/html/_static/bootswatch-2.3.2/simplex/bootstrap.min.css
docs/_build/html/_static/bootswatch-2.3.2/slate/bootstrap.min.css
docs/_build/html/_static/bootswatch-2.3.2/spacelab/bootstrap.min.css
docs/_build/html/_static/bootswatch-2.3.2/spruce/bootstrap.min.css
docs/_build/html/_static/bootswatch-2.3.2/superhero/bootstrap.min.css
docs/_build/html/_static/bootswatch-2.3.2/united/bootstrap.min.css
docs/_build/html/_static/bootswatch-3.3.7/cerulean/bootstrap.min.css
docs/_build/html/_static/bootswatch-3.3.7/cosmo/bootstrap.min.css
docs/_build/html/_static/bootswatch-3.3.7/cyborg/bootstrap.min.css
docs/_build/html/_static/bootswatch-3.3.7/darkly/bootstrap.min.css
docs/_build/html/_static/bootswatch-3.3.7/flatly/bootstrap.min.css
docs/_build/html/_static/bootswatch-3.3.7/fonts/glyphicons-halflings-regular.eot
docs/_build/html/_static/bootswatch-3.3.7/fonts/glyphicons-halflings-regular.svg
docs/_build/html/_static/bootswatch-3.3.7/fonts/glyphicons-halflings-regular.ttf
docs/_build/html/_static/bootswatch-3.3.7/fonts/glyphicons-halflings-regular.woff
docs/_build/html/_static/bootswatch-3.3.7/fonts/glyphicons-halflings-regular.woff2
docs/_build/html/_static/bootswatch-3.3.7/journal/bootstrap.min.css
docs/_build/html/_static/bootswatch-3.3.7/lumen/bootstrap.min.css
docs/_build/html/_static/bootswatch-3.3.7/paper/bootstrap.min.css
docs/_build/html/_static/bootswatch-3.3.7/readable/bootstrap.min.css
docs/_build/html/_static/bootswatch-3.3.7/sandstone/bootstrap.min.css
docs/_build/html/_static/bootswatch-3.3.7/simplex/bootstrap.min.css
docs/_build/html/_static/bootswatch-3.3.7/slate/bootstrap.min.css
docs/_build/html/_static/bootswatch-3.3.7/solar/bootstrap.min.css
docs/_build/html/_static/bootswatch-3.3.7/spacelab/bootstrap.min.css
docs/_build/html/_static/bootswatch-3.3.7/superhero/bootstrap.min.css
docs/_build/html/_static/bootswatch-3.3.7/united/bootstrap.min.css
docs/_build/html/_static/bootswatch-3.3.7/yeti/bootstrap.min.css
docs/_build/html/_static/js/jquery-1.11.0.min.js
docs/_build/html/_static/js/jquery-fix.js
docs/_build/html/source/gloss/terms.html
docs/_build/html/source/q-and-a/why-documenting.html
docs/_build/html/source/q-and-a/why-publish.html
docs/_build/html/source/q-and-a/why-vcs.html
docs/_build/html/source/restructuredtext/rst-basics.html
docs/_build/html/source/restructuredtext/rst-inline-markup.html
docs/_build/linkcheck/output.json
docs/_build/linkcheck/output.txt
docs/_build/linkcheck/.doctrees/environment.pickle
docs/_build/linkcheck/.doctrees/guides.doctree
docs/_build/linkcheck/.doctrees/howto.doctree
docs/_build/linkcheck/.doctrees/ides.doctree
docs/_build/linkcheck/.doctrees/index.doctree
docs/_build/linkcheck/.doctrees/langs.doctree
docs/_build/linkcheck/.doctrees/requirements.doctree
docs/_build/linkcheck/.doctrees/utils.doctree
docs/_build/linkcheck/.doctrees/source/gloss/terms.doctree
docs/_build/linkcheck/.doctrees/source/python/py-start.doctree
docs/_build/linkcheck/.doctrees/source/q-and-a/why-documenting.doctree
docs/_build/linkcheck/.doctrees/source/q-and-a/why-publish.doctree
docs/_build/linkcheck/.doctrees/source/q-and-a/why-vcs.doctree
docs/_build/linkcheck/.doctrees/source/r/r-start.doctree
docs/_build/linkcheck/.doctrees/source/restructuredtext/rst-basics.doctree
docs/_build/linkcheck/.doctrees/source/restructuredtext/rst-inline-markup.doctree
docs/_build/linkcheck/.doctrees/source/restructuredtext/rst-lists.doctree
docs/_build/linkcheck/.doctrees/source/restructuredtext/rst-start.doctree
docs/_build/linkcheck/output.json
docs/_build/linkcheck/output.txt
docs/_build/linkcheck/.doctrees/environment.pickle
docs/_build/linkcheck/.doctrees/guides.doctree
docs/_build/linkcheck/.doctrees/howto.doctree
docs/_build/linkcheck/.doctrees/ides.doctree
docs/_build/linkcheck/.doctrees/index.doctree
docs/_build/linkcheck/.doctrees/langs.doctree
docs/_build/linkcheck/.doctrees/requirements.doctree
docs/_build/linkcheck/.doctrees/utils.doctree
docs/_build/linkcheck/.doctrees/source/gloss/terms.doctree
docs/_build/linkcheck/.doctrees/source/python/py-start.doctree
docs/_build/linkcheck/.doctrees/source/q-and-a/why-documenting.doctree
docs/_build/linkcheck/.doctrees/source/q-and-a/why-publish.doctree
docs/_build/linkcheck/.doctrees/source/q-and-a/why-vcs.doctree
docs/_build/linkcheck/.doctrees/source/r/r-start.doctree
docs/_build/linkcheck/.doctrees/source/restructuredtext/rst-basics.doctree
docs/_build/linkcheck/.doctrees/source/restructuredtext/rst-inline-markup.doctree
docs/_build/linkcheck/.doctrees/source/restructuredtext/rst-lists.doctree
docs/_build/linkcheck/.doctrees/source/restructuredtext/rst-start.doctree
docs/_build/linkcheck/output.json
docs/_build/linkcheck/output.txt
docs/_build/linkcheck/.doctrees/environment.pickle
docs/_build/linkcheck/.doctrees/guides.doctree
docs/_build/linkcheck/.doctrees/howto.doctree
docs/_build/linkcheck/.doctrees/ides.doctree
docs/_build/linkcheck/.doctrees/index.doctree
docs/_build/linkcheck/.doctrees/langs.doctree
docs/_build/linkcheck/.doctrees/requirements.doctree
docs/_build/linkcheck/.doctrees/utils.doctree
docs/_build/linkcheck/.doctrees/source/gloss/terms.doctree
docs/_build/linkcheck/.doctrees/source/python/py-start.doctree
docs/_build/linkcheck/.doctrees/source/q-and-a/why-documenting.doctree
docs/_build/linkcheck/.doctrees/source/q-and-a/why-publish.doctree
docs/_build/linkcheck/.doctrees/source/q-and-a/why-vcs.doctree
docs/_build/linkcheck/.doctrees/source/r/r-start.doctree
docs/_build/linkcheck/.doctrees/source/restructuredtext/rst-basics.doctree
docs/_build/linkcheck/.doctrees/source/restructuredtext/rst-inline-markup.doctree
docs/_build/linkcheck/.doctrees/source/restructuredtext/rst-lists.doctree
docs/_build/linkcheck/.doctrees/source/restructuredtext/rst-start.doctree
docs/_build/linkcheck/output.json
docs/_build/linkcheck/output.txt
docs/_build/linkcheck/.doctrees/environment.pickle
docs/_build/linkcheck/.doctrees/guides.doctree
docs/_build/linkcheck/.doctrees/howto.doctree
docs/_build/linkcheck/.doctrees/ides.doctree
docs/_build/linkcheck/.doctrees/index.doctree
docs/_build/linkcheck/.doctrees/langs.doctree
docs/_build/linkcheck/.doctrees/requirements.doctree
docs/_build/linkcheck/.doctrees/utils.doctree
docs/_build/linkcheck/.doctrees/source/gloss/terms.doctree
docs/_build/linkcheck/.doctrees/source/python/py-start.doctree
docs/_build/linkcheck/.doctrees/source/q-and-a/why-documenting.doctree
docs/_build/linkcheck/.doctrees/source/q-and-a/why-publish.doctree
docs/_build/linkcheck/.doctrees/source/q-and-a/why-vcs.doctree
docs/_build/linkcheck/.doctrees/source/r/r-start.doctree
docs/_build/linkcheck/.doctrees/source/restructuredtext/rst-basics.doctree
docs/_build/linkcheck/.doctrees/source/restructuredtext/rst-inline-markup.doctree
docs/_build/linkcheck/.doctrees/source/restructuredtext/rst-lists.doctree
docs/_build/linkcheck/.doctrees/source/restructuredtext/rst-start.doctree
docs/temp.rst
docs/_build/doctrees/temp.doctree
docs/_build/html/_sources/temp.rst.txt
docs/source/restructuredtext/rst-lists.rst
docs/source/restructuredtext/rst-tables.rst
docs/conf.py
docs/index.rst
docs/langs.rst
docs/_build/html/howto.html
docs/_build/html/requirements.html
docs/_build/html/temp.html
docs/_build/html/_static/graphviz.css
docs/_build/html/source/gloss/terms.html
docs/_build/html/source/q-and-a/why-documenting.html
docs/_build/html/source/q-and-a/why-publish.html
docs/_build/html/source/q-and-a/why-vcs.html
docs/_build/html/source/restructuredtext/rst-basics.html
docs/_build/html/source/restructuredtext/rst-inline-markup.html
docs/_build/linkcheck/output.json
docs/_build/linkcheck/output.txt
docs/_build/linkcheck/.doctrees/environment.pickle
docs/_build/linkcheck/.doctrees/guides.doctree
docs/_build/linkcheck/.doctrees/howto.doctree
docs/_build/linkcheck/.doctrees/ides.doctree
docs/_build/linkcheck/.doctrees/index.doctree
docs/_build/linkcheck/.doctrees/langs.doctree
docs/_build/linkcheck/.doctrees/requirements.doctree
docs/_build/linkcheck/.doctrees/utils.doctree
docs/_build/linkcheck/.doctrees/source/gloss/terms.doctree
docs/_build/linkcheck/.doctrees/source/python/py-start.doctree
docs/_build/linkcheck/.doctrees/source/q-and-a/why-documenting.doctree
docs/_build/linkcheck/.doctrees/source/q-and-a/why-publish.doctree
docs/_build/linkcheck/.doctrees/source/q-and-a/why-vcs.doctree
docs/_build/linkcheck/.doctrees/source/r/r-start.doctree
docs/_build/linkcheck/.doctrees/source/restructuredtext/rst-basics.doctree
docs/_build/linkcheck/.doctrees/source/restructuredtext/rst-inline-markup.doctree
docs/_build/linkcheck/.doctrees/source/restructuredtext/rst-lists.doctree
docs/_build/linkcheck/.doctrees/source/restructuredtext/rst-start.doctree
docs/_build/html/requirements.html
docs/_build/html/requirements.html
docs/_build/html/requirements.html
docs/_build/rinoh/.doctrees/requirements.doctree
docs/_build/rinoh/.doctrees/temp.doctree
docs/_build/rinoh/.doctrees/source/latex/latex-start.doctree
docs/_build/rinoh/.doctrees/source/rest/rst-basics.doctree
docs/_build/rinoh/.doctrees/source/rest/rst-directives.doctree
docs/_build/rinoh/.doctrees/source/rest/rst-inline-markup.doctree
docs/_build/rinoh/.doctrees/source/rest/rst-lengths.doctree
docs/_build/rinoh/.doctrees/source/rest/rst-lists.doctree
docs/_build/rinoh/.doctrees/source/rest/rst-start.doctree
docs/_build/rinoh/.doctrees/source/rest/rst-tables.doctree
docs/_build/html/howto.html
docs/_build/html/requirements.html
docs/_build/html/_sources/source/gloss/terms.rst.txt
docs/_build/html/_sources/source/latex/latex-start.rst.txt
docs/_build/html/_sources/source/rest/rst-basics.rst.txt
docs/_build/html/_sources/source/rest/rst-directives.rst.txt
docs/_build/html/_sources/source/rest/rst-inline-markup.rst.txt
docs/_build/html/_sources/source/rest/rst-lengths.rst.txt
docs/_build/html/_sources/source/rest/rst-lists.rst.txt
docs/_build/html/_sources/source/rest/rst-start.rst.txt
docs/_build/html/_sources/source/rest/rst-tables.rst.txt
docs/_build/html/_sources/source/restructuredtext/rst-basics.rst.txt
docs/_build/html/_sources/source/restructuredtext/rst-tables.rst.txt
docs/_build/html/source/gloss/terms.html
docs/_build/html/source/latex/latex-start.html
docs/_build/html/source/q-and-a/why-documenting.html
docs/_build/html/source/q-and-a/why-publish.html
docs/_build/html/source/q-and-a/why-vcs.html
docs/_build/html/source/rest/rst-basics.html
docs/_build/html/source/rest/rst-directives.html
docs/_build/html/source/rest/rst-inline-markup.html
docs/_build/html/source/rest/rst-lengths.html
docs/_build/html/source/rest/rst-lists.html
docs/_build/html/source/rest/rst-start.html
docs/_build/html/source/rest/rst-tables.html
docs/_build/html/source/restructuredtext/rst-basics.html
docs/_build/html/source/restructuredtext/rst-tables.html
docs/_build/doctrees/source/gloss/terms.doctree
docs/_build/doctrees/source/latex/latex-start.doctree
docs/_build/doctrees/source/rest/rst-basics.doctree
docs/_build/doctrees/source/rest/rst-directives.doctree
docs/_build/doctrees/source/rest/rst-inline-markup.doctree
docs/_build/doctrees/source/rest/rst-lengths.doctree
docs/_build/doctrees/source/rest/rst-lists.doctree
docs/_build/doctrees/source/rest/rst-start.doctree
docs/_build/doctrees/source/rest/rst-tables.doctree
docs/_build/doctrees/source/restructuredtext/rst-basics.doctree
docs/_build/doctrees/source/restructuredtext/rst-tables.doctree
docs/_build/html/howto.html
docs/_build/html/requirements.html
docs/_build/html/_sources/source/gloss/terms.rst.txt
docs/_build/html/_sources/source/restructuredtext/rst-basics.rst.txt
docs/_build/html/_sources/source/restructuredtext/rst-tables.rst.txt
docs/_build/html/source/gloss/terms.html
docs/_build/html/source/q-and-a/why-documenting.html
docs/_build/html/source/q-and-a/why-publish.html
docs/_build/html/source/q-and-a/why-vcs.html
docs/_build/html/source/restructuredtext/rst-basics.html
docs/_build/html/source/restructuredtext/rst-tables.html
docs/_build/doctrees/source/gloss/terms.doctree
docs/_build/doctrees/source/restructuredtext/rst-basics.doctree
docs/_build/doctrees/source/restructuredtext/rst-tables.doctree
docs/_build/doctrees/source/gloss/terms.doctree
docs/_build/doctrees/source/gloss/terms.doctree
docs/_build/doctrees/source/restructuredtext/rst-basics.doctree
docs/_build/doctrees/source/restructuredtext/rst-tables.doctree
